.a-header {
  text-decoration: none;
  color: white;
}
.text-center {
  text-align: center;
}
.w-full {
  width: 100%;
}
.a-none {
  text-decoration: none;
}
.logo {
  height: 40px;
}
.form-search input {
  border: none;
  background-color: rgb(13 110 253);
  border-bottom: 1.5px solid white;
  color: white;
}
.form-search button {
  border: none;
  background-color: rgb(13 110 253);
  color: white;
}
.form-search input:focus {
  border: none;
  outline: none;
  border-bottom: 1.5px solid white;
  color: white;
}

